.DS_Store
._.DS_Store*
.metadata
.project
.classpath
.settings
.history
gen
**/*.swp
**/*~.nib
**/build/
**/target
target
*.iml
*.iws
*.ipr
**/*.ipr
**/*.iml
**/*.iws
**/out
**/*/target
**/target
**/*/bin
**/*/build
**/*.iml
**/*/*.iml
**/.idea
**/.idea/*
.idea
.idea/*
.idea/**/*
.DS_Store
project/.DS_Store
project/*/.DS_Store
tm.out
tmlog*.log
*.tm*.epoch
out/
provisioning/.vagrant
provisioning/*/.vagrant
provisioning/*/*.known
*.lock
log/
tmp/
*.rdb
logs/
http.conf
*.orig

